[mysqld_safe]
socket				= /var/run/mysqld/mysqld.sock

[mysqld]
socket				= /var/run/mysqld/mysqld.sock
user				= root
port				= 3306
datadir				= /var/lib/mysql
bind-address		= 0.0.0.0
skip-networking		= false
